<?xml version="1.0"?>
<config version="1.0" serial="78" timestamp="1343995159.4">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <DPC>4100</DPC>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1343994161</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <avatar>f6e366ec:2</avatar>
          <email>4e0fb8ef:2</email>
          <mood>7c6637ab:2</mood>
          <profile>6eb12bd:2</profile>
        </p>
        <u>
          <alecoarmache>7c134176:2</alecoarmache>
          <anonsynn>e0c1ebda:2</anonsynn>
          <anontoki>32887aa7:2</anontoki>
          <aphrodite_noujaim>5384d824:2</aphrodite_noujaim>
          <bobby.2Estephon>6b09bbd9:2</bobby.2Estephon>
          <boing7898>ea3dfcb0:2</boing7898>
          <bsf.2Ebsf1>c287eb3f:2</bsf.2Ebsf1>
          <chafic.2En>663884e4:2</chafic.2En>
          <cystomatic>b35307fb:2</cystomatic>
          <delusion551>cd9b0ee:2</delusion551>
          <echo123>9db4df93:2</echo123>
          <el.2Ehage.2Eolivier>d4caa9dd:2</el.2Ehage.2Eolivier>
          <elie.2Ehage1>5817375b:2</elie.2Ehage1>
          <eliotayar>e2345a66:2</eliotayar>
          <eliotayar1>c533e6db:2</eliotayar1>
          <f4lley>2029dabc:2</f4lley>
          <farah.2Ekhachouf>e6dca79:2</farah.2Ekhachouf>
          <flame.2Estick>23bb4292:2</flame.2Estick>
          <forwornjr>fc317bf6:2</forwornjr>
          <george.2Ehk92>1930ed34:2</george.2Ehk92>
          <gerges-bakaev>fee2250c:2</gerges-bakaev>
          <h.2Eabdelghaffar>6e701b35:2</h.2Eabdelghaffar>
          <hanna_family4>ac179976:2</hanna_family4>
          <i.2Edreamhf>68b361fa:2</i.2Edreamhf>
          <infinitylordhf>14a9cca:2</infinitylordhf>
          <iprominent>76c806bc:2</iprominent>
          <irene.2Efeir>48efd985:2</irene.2Efeir>
          <j.2Eazar.2Eskype>a750e65e:2</j.2Eazar.2Eskype>
          <jabedh21>c5564f98:2</jabedh21>
          <karimnoujaim>7c6eb555:2</karimnoujaim>
          <kewlrulz>ea615d8c:2</kewlrulz>
          <klinker.2Ewiss>8dc65a16:2</klinker.2Ewiss>
          <l.2Ef.2Eouad>d232d182:2</l.2Ef.2Eouad>
          <lambasoft>d12d9488:2</lambasoft>
          <liarbasu>677f7845:2</liarbasu>
          <lily.2Eassal>b3b77d03:2</lily.2Eassal>
          <lina.2Esoufi>7f096b1a:2</lina.2Esoufi>
          <lina.2Esoufi2>e06ff884:2</lina.2Esoufi2>
          <linasoufi>e10c33d7:2</linasoufi>
          <louis.2Efamille>5c0c0058:2</louis.2Efamille>
          <maosikalouis>9b987a73:2</maosikalouis>
          <melissa.2Ehanna2>e41388c8:2</melissa.2Ehanna2>
          <melissa.2Ehanna21>a0582668:2</melissa.2Ehanna21>
          <melissalouis2>e3078da8:2</melissalouis2>
          <menstruated>a53f1311:2</menstruated>
          <michaudx>2ed692bb:2</michaudx>
          <nikhil.2Echalla>cf662a0c:2</nikhil.2Echalla>
          <nirmal.2Epattara>e3910c38:2</nirmal.2Epattara>
          <omarjd123>11489909:2</omarjd123>
          <omarmasri93>b1e758a:2</omarmasri93>
          <prettykitty1337>76cd5750:2</prettykitty1337>
          <raif.2Enoujaim>8e6a3e42:2</raif.2Enoujaim>
          <reservedvs>12ddfbbc:2</reservedvs>
          <resistantuk>3436f02d:2</resistantuk>
          <ripperhf1>2c5bea8:2</ripperhf1>
          <silenced.2Edeath>fcbc077f:2</silenced.2Edeath>
          <skyradex>3db6a20a:2</skyradex>
          <spankdahobo>d96ae9fc:2</spankdahobo>
          <supahfi>cfc763ec:2</supahfi>
          <techie.2Ewh>481a1981:2</techie.2Ewh>
          <thepenumbra>7155cddd:2</thepenumbra>
          <thesubcolega>b6070a69:2</thesubcolega>
          <toriqq.2E>cc44220c:2</toriqq.2E>
          <vaibhuv.2Esharma>10d5a659:2</vaibhuv.2Esharma>
          <whoareyou_777>95cac722:2</whoareyou_777>
          <xnjq8x>9c565d5d:2</xnjq8x>
          <xstaid>ee9edfd3:2</xstaid>
          <xtremehf>41b3fa8b:2</xtremehf>
          <xuanson2012>d7f7bb5f:2</xuanson2012>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>2</Migration>
    </Contacts>
    <Conversation>
      <CreationTimestampFixed>1</CreationTimestampFixed>
      <DupeLegacyDeleted>1</DupeLegacyDeleted>
      <GivenDisplaynameFixed>1</GivenDisplaynameFixed>
      <PermanenceFixed>1</PermanenceFixed>
      <PruningHorizon>1343995156</PruningHorizon>
      <RecentlyLiveTimeout>0</RecentlyLiveTimeout>
    </Conversation>
    <DynContent>
      <LastIpCountry>lb</LastIpCountry>
      <S>
        <LastTime>1343994158</LastTime>
      </S>
      <UILang>en</UILang>
    </DynContent>
    <Notification>
      <LastID>1000000303</LastID>
      <LastPoll>1343994157</LastPoll>
      <LastSearch>1343995156</LastSearch>
    </Notification>
    <PM>
      <pslut>1343994157</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410400AE200000AB200000872000008B20B1F2EE8005</PermaProps>
    </PropsManager>
    <Sms>
      <CliOptions>4105002313032D434C49204F4B000134000000000000000001350000000000000000003600</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <CollectorLastSent>1343994157</CollectorLastSent>
      <CollectorSeq>2</CollectorSeq>
      <Saved>41030001ADF2EE80050502410A00F8010000FA010000FC010000AC020000AD020000AE020000FD010000FE010000FF010000800200000300</Saved>
      <SubmitID>9</SubmitID>
      <Type2SubmitID>
        <_1>8</_1>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <_1654dca3bb4db2557b5ad1c76a0aeda6abe90e0c469d8f7608e5d6222e53ae2c>1344081557 23056:21600:1343995157 24479:21600:1343995157 49891:17280:1343995157 32869:21600:1343995157 2147485473:86400:1343995157</_1654dca3bb4db2557b5ad1c76a0aeda6abe90e0c469d8f7608e5d6222e53ae2c>
    </table_insert_history>
  </Lib>
  <UI>
    <ConversationsWindow>
      <Height>512</Height>
      <Width>917</Width>
      <X>201</X>
      <Y>213</Y>
    </ConversationsWindow>
  </UI>
</config>
